.navigation {
    display: inline-block;
    vertical-align: middle;
}
.li-item {
    display: inline-block;
    
}
.logo-item {
    vertical-align: middle;
    margin-right: 395px;
}
.header-element {
    padding-top:74,5px ;
    padding-bottom: 157,5px;
    width: 1,220px;
    height: 65px;
    


}
.text-block {
    width: 283px;
    height: 86px;
    margin: 0 auto;
    text-align: center;

 
}
.text1 {
font-weight: 500px;
font-size: 18px;

color: #37393F;

}
 
 .text2  {
   font-weight: 700px;
    font-size: 40px;
    
    color:#37393F ;
}

.section-element {
    width: 1220px;
    height: 510px;
    margin: 0 auto;
}
.row {
    width: 1,220px;
    height: 383px;
    display: flex;
    justify-content: space-between;
}
.row-1 {
    width: 386px;
    height: 383px;
}
.image-element {
    width: 100%;
    height: 557px;
    padding-top: 60px;
    padding-bottom: 130px;
}
.wraper-text {
    width: 348px;
    margin: 0 auto;
    text-align: center;
}
.wraper-picture  {
    width: 1,220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.block-1 {
    width: 386px;
    height: 591px;
}
.text-2 {
    font-weight: 500;
    font-size: 18px;
}
.text-3 {
    font-weight: 700;
    font-size: 40px;
}
.image-wraper {
    position: relative;
}
